@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>@Html.DisplayFor(model => model.Title)</h2>
<hr />
<br>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This recipe does not belong to any categories</p>
}
else
{
  <h4>Categories this recipe belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Category.Name</li>
    @using (Html.BeginForm("DeleteCategory", "Recipes"))
    {
      @Html.Hidden("joinId", @join.CategoryRecipeId)
      <input type="submit" value="Delete" class="btn"/>
    }
  }
  </ul>
}
<br>
<p>@Html.ActionLink("Add category", "AddCategory", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Edit recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete recipe", "Delete", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Back to recipes", "Index")</p>